{{docs-header}}

{{docs-hero
  logo="ember"
  slimHeading="Ember"
  strongHeading="Lifeline"
  byline="An Ember addon for managing the lifecyle of asynchronous behavior in your objects."}}

{{#docs-demo as |demo|}}
  {{#demo.example name="my-demo.hbs"}}
    <p>Make sure to read up on the DocsDemo component before building out this page.</p>
  {{/demo.example}}
{{/docs-demo}}